body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: navy;
    text-align: center;
}

/* Content of the page*/
.centered {
    text-align: center;
    font-size: 2em;
    color: darkred;
}

/*Border and Box fot the container */
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 5px solid rgb(235, 28, 1);
    background-color: green;
}


.Introduction, .education {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

/*Styling introduction */
.Introduction {
    background-color: lightblue;
    color: darkblue;
}

/* Styling Education*/
.education {
    background-color: lightgreen;
    color: darkgreen;
}

/*Headings font color */
h1, h2 {
    color: white;
}
/* content font style*/
p, li {
    font-size: 1.1em;
}